<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar" th:fragment="navbar" id="navbarFrag">
    <div class="container" id="navbarFooter">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-between w-100">
            <li><a th:href="@{/}" class="nav-link px-2 text-white" id="homePageLinkLogo"><img
                    th:src="@{/images/sparta-logo.png}" id="spartaLogo"></a></li>
            <li><a th:href="@{/}" class="nav-link px-2 text-white" id="homePageLink">Scheduler Page</a></li>
            <li><a class="nav-link px-2 text-white" th:href="@{/traineePage}" id="traineePageLink">Trainees Page</a>
            </li>
            <li><a class="nav-link px-2 text-white" th:href="@{/trainerPage}" id="trainerPageLink">Trainers Page</a>
            </li>
            <li><a class="nav-link px-2 text-white" th:href="@{/coursePage}" id="coursePageLink">Courses Page</a></li>
            <li><a class="nav-link px-2 text-white" th:href="@{/centres}" id="centrePageLink">Centres Page</a></li>
            <li><a th:href="@{/accountManagement}" class="nav-link px-2 text-white" id="aboutPageLink">Account</a></li>
            <li><a class="nav-link px-2 text-white" id="TheBoys">Made By Engineering 87</a></li>
        </ul>
    </div>
</nav>
</body>
</html>