<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-custom" th:fragment="navbar">

<div class="container">
  <div class="collapse navbar-collapse" id="navbarFooter">
    <ul class="navbar-nav mr-auto mt-auto">
      <img th:src="@{images/sparta-logo.png}" id="spartaLogo">
      <li class="nav-item col-sm"><a class="nav-link" id="FooterHomePageLink" th:href="@{/}">Scheduler</a></li>
      <li class="nav-item col-sm"><a class="nav-link" id="FooterAboutPageLink" th:href="@{about}">About</a></li>
      <li class="col-sm-8"></li>
      <li class="col-sm-8"></li>
      <li class="nav-item col-sm"><a class="nav-link" id="TheBoys">Made By Engineering87</a></li>
    </ul>
  </div>
</div>
</nav>
</body>
</html>