<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/navbarFrag.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


<nav class="navbar navbar-expand-lg"  style="position: relative; " th:fragment="navbar" id="navbarFrag">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <img th:src="@{/images/sparta-logo.png}" id="spartaLogo">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/}" id="homePageLink">Scheduler</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/accountManagement}" id="aboutPageLink">Account</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/login}" id="loginLink">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item" >
                <a href="javascript: document.logoutForm.submit()" class="nav-link" id="logoutLink">Log Out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </li>
<!--            TODO rename with appropriate role-->
            <li sec:authorize="hasAuthority('RICHARD')" class="nav-item">
                <a class="nav-link" th:href="@{/user}" id="myAccountLink">My Account</a>
            </li>
        </ul>

    </div>
</nav>