body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
    padding-top: 2rem;
}

#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

#navbarFrag{
    background-color: black;
    color: white;
}

#spartaLogo{
    height: 30px;
    width: 30px;
    padding: 2px;
}

#navbarFooter{
    margin: auto;
    background-color: black;
    color: white;

}

.sparta-background-colour {
    background-color: rgb(2, 24, 27);
    color: white;
}

.btn {
    margin-top: 1rem;
    background-color: rgb(225, 57, 99) !important;
    border-color: rgb(225, 57, 99) !important;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
}

table {
    text-align: center;

}

tr {
    color: white;
    vertical-align: middle;
}



