.container {
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

#invalid-credentials-msg {
    text-align: center;
    color: #ce2525;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

form {
    margin-top: 1.5rem;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 1rem;
    background-color: rgb(225, 57, 99) !important;
    border-color: rgb(225, 57, 99) !important;
}

.sparta-background-colour {
    background-color: rgb(2, 24, 27);
    color: white;
}

#navbarFrag{
    background-color: black;
    color: white;
}

#spartaLogo{
    height: 30px;
    width: 30px;
    padding: 2px;
}

#navbarFooter{
    margin: auto;
    background-color: black;
    color: white;

}

#TheBoys{
    width: max-content;
}

.blue {
    background: blue !important;
}

.green {
    background: green !important;
}

.red {
    background: red !important;
}

.vertical-date {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(
            190deg
    );
    padding-bottom: 50px !important;

}

.vertical-table-lines {
    border-right: solid 1px #000000;
    border-left: solid 1px black;
    border-bottom: solid 1px black !important;
}

.sch-table {
    border: none;
    border-collapse: separate;
    border-spacing: 0;

}
.sch-table thead th {
    border: none;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}
.sch-table tbody td {
    padding: 10px;
    white-space: nowrap;
}
.sch-wrapper {
    position: relative;
}
.sch-scroller {
    margin-left: 120px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    /*width: 960px;*/
}
.sch-table .sticky-col {
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}