.container {
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

#invalid-credentials-msg {
    text-align: center;
    color: #ce2525;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

form {
    margin-top: 1.5rem;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 1rem;
    background-color: rgb(225, 57, 99) !important;
    border-color: rgb(225, 57, 99) !important;
}

.sparta-background-colour {
    background-color: rgb(2, 24, 27);
    color: white;
}