#traineeList{
    margin: auto;
    margin-top: 50px;
    background: black;
    width: max-content;
    padding: 5px;

}

#courseNameLabel{
    color: white;
    margin:auto;
}

#TraineeNames{
    color: mediumpurple;
    background: black;
}

#traineeBody{
    background: darkslateblue;
}


td{
    color: mediumpurple;
    background: black;
}

th{
    color: mediumpurple;
    background: black;
}