<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a trainee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="sparta-background-colour">
    <nav th:replace="fragments/header.html :: navbar"></nav>
    <div class="container">
        <h1 id="add-trainee-page-title">Add a Trainee</h1>
        <div>
            <form id="add-trainee-form" th:action="@{/addTrainee}" method="post">
                <div class="mb-3">
                    <label for="trainee-first-name" class="form-label">Course name</label>
    <!--                <input type="text" id="trainee-course" class="form-control" name="trainee-course-name" autofocus>-->
                    <select name="trainee-course-name" id="trainee-course-name" class="form-select">
                        <option th:each="course : ${courses}" th:value="${course.courseName}" th:text="${course.courseName}">Course Name</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="trainee-first-name" class="form-label">First name</label>
                    <input type="text" id="trainee-first-name" class="form-control" name="trainee-first-name" required>
                </div>
                <div class="mb-3">
                    <label for="trainee-last-name" class="form-label">Last name</label>
                    <input type="text" id="trainee-last-name" class="form-control" name="trainee-last-name" required>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </div>
    </div>
    <footer>
        <nav th:replace="fragments/footer.html :: navbar"></nav>
    </footer>
</body>
</html>