<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/navbarFrag.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/spartaStyles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body id="CoursesBody" class="sparta-background-colour">
<nav th:replace="fragments/header.html :: navbar"></nav>
<br>
<div class="container">
    <div id="addCourse" class="text-center">
        <button class="btn btn-primary"><a th:href="@{/addCourse}" id="CoursePageLink">Add Course</a></button>
    </div>
    <br>

    <h1 id="courseTableHeading">Course Table</h1>
    <div id="courseList">
        <table class="table" id="courseTable">
            <thead>
            <tr id="course_headings">
                <th scope="col" id="tableHeader1course">Course Name</th>
                <th scope="col" id="tableHeader2course">Discipline</th>
                <th scope="col" id="tableHeader3course">Course Type</th>
                <th scope="col" id="tableHeader4course">Location</th>
                <th scope="col" id="tableHeader5course">Start Date</th>
                <th scope="col" id="tableHeader6course">Trainer</th>
                <th scope="col" id="tableHeader7course">Edit</th>
                <th scope="col" id="tableHeader8course">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course, iterStat: ${courses}" th:id="${iterStat.index} + 'row'">

                <td th:text="${course[0]}" th:id="${iterStat.index} + 'course'">Course Name</td>
                <td th:text="${course[1]}" th:id="${iterStat.index} + 'discipline'">Discipline</td>
                <td th:text="${course[2]}" th:id="${iterStat.index} + 'course_type'">Course Type</td>
                <td th:text="${course[5]}" th:id="${iterStat.index} + 'location'">Location</td>
                <td th:text="${course[6]}" th:id="${iterStat.index} + 'start_date'">Start Date</td>
                <td th:text="${course[3]} + ' ' + ${course[4]}" th:id="${iterStat.index} + 'trainer_name'">Trainer</td>

                <td>
                    <div class="mb-3">
                    <button class="btn"><a th:href="@{/editCourse/{Cid}(Cid=${course[8]})}"
                               th:id="${iterStat.index}">Edit</a></button>
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                    <button class="btn"><a th:href="@{/deleteCourse/{Cid}(Cid=${course[8]})}"
                               th:id="${iterStat.index}">Delete</a></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
</div>
<footer>
    <nav th:replace="fragments/footer.html :: navbar"></nav>
</footer>
</body>
</html>