<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Location</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/navbarFrag.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/spartaStyles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body id="editLocation" class="sparta-background-colour">
<nav th:replace="fragments/header.html :: navbar"></nav>
<div class="container">
    <h1 id="edit-location-page-title">Edit Location</h1>
    <div>
        <form id="edit-location-form" th:action="@{/updateLocation/{id}(id=${location.locationId})}"
              th:object="${location}" method="post">
            <div class="mb-3">
                <label for="location-location" class="form-label">Location</label>
                <input type="text" th:field="*{location}" id="location-location" class="form-control"
                       name="location-location" autofocus>
            </div>
            <div class="mb-3">
                <label for="location-no-of-rooms" class="form-label">Number of Rooms</label>
                <input type="text" th:field="*{numberOfRooms}" id="location-no-of-rooms" class="form-control"
                       name="location-no-of-rooms">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Update">
            </div>
        </form>
        <form id="delete-location-form" th:action="@{/deleteLocation/{id}(id=${location.locationId})}"
              th:object="${location}" method="post">
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Delete">
            </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </div>
</div>
<footer>
    <nav th:replace="fragments/footer.html :: navbar"></nav>
</footer>
</body>
</html>