<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>scheduler</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/navbarFrag.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/schedularPage.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="schedulerBody">
<nav th:replace="fragments/header.html :: navbar"></nav>
<br><br><br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Training Course</th>
            <th scope="col">Discipline</th>
            <th scope="col">Course Type</th>
            <th scope="col">Trainer</th>
            <th scope="col">Course Location</th>
            <th scope="col">Start of Course</th>
            <th scope="col">Duration</th>
            <th scope="col">End of Course</th>
            <th scope="col">Bond</th>
            <th scope="col">Schedule</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "coursename, iterStat : ${CourseName}">
            <td th:text="${coursename}"></td>
            <td th:text="${DisciplineName[iterStat.index]}"></td>
            <td th:text="${CourseTypeName[iterStat.index]}"></td>
            <td th:text="${TrainerName[iterStat.index]}"></td>
            <td th:text="${LocationName[iterStat.index]}"></td>
            <td th:text="${CourseStartDate[iterStat.index]}"></td>
            <td th:text="${DisciplineDuration[iterStat.index]}"></td>
            <td th:text="${CourseEndDate[iterStat.index]}"></td>
            <td th:text="${BondDate[iterStat.index]}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br><br><br><br><br><br>

<footer>
    <nav th:replace="fragments/footer.html :: navbar"></nav>
</footer>
</body>
</html>