<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/navbarFrag.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/spartaStyles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link th:href="@{/CSS/footable.bootstrap.min.css}">
    <script src="/javascript/footable.min.js"></script>
    <script>jQuery(function ($) {
        $('.table').footable();
    });</script>
</head>
<body id="traineeBody" class="sparta-background-colour">
<nav th:replace="fragments/header.html :: navbar"></nav>
<br>
<div class="container">
    <div id="addTrainee" class="text-center">
        <button class="btn btn-primary"><a th:href="@{/addTrainee}" id="traineePageLink">Add Trainee</a></button>
    </div>
    <br>
    <h1 id="courseTableHeading">Trainees Table</h1>
    <div id="traineeList">
        <table class="table" id="traineeTable">
            <thead>
            <tr>
                <th scope="col" id="tableHeader1">First Name</th>
                <th scope="col" id="tableHeader2">Last Name</th>
                <th scope="col" id="tableHeader3">Quality Gate Status</th>
                <th scope="col" id="tableHeader4">Edit Trainee</th>
                <th scope="col" id="tableHeader5">Delete Trainee</th>
                <th scope="col" id="tableHeader6">Add Quality Gate</th>
                <th scope="col" data-breakpoints="all" data-title="Quality Gate History">Quality Gate History</th>
                <th scope="col" data-breakpoints="all"></th>
                <th scope="col" data-breakpoints="all"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="trainee, iterStat: ${trainees}" th:id="${iterStat.index} + 'row'">

                <td th:text="${trainee[0]}" th:id="${iterStat.index} + 'name'"> first name</td>
                <td th:text="${trainee[1]}" th:id="${iterStat.index} + 'surname'">last name</td>

                <td th:text="${trainee[2]}" th:id="${iterStat.index} + 'qgs'">quality gate status</td>

                <td>
                    <div class="mb-3">
                        <button class="btn btn-primary"><a th:href="@{/editTrainee/{Tid}(Tid=${trainee[3]})}"
                                                           th:id="${iterStat.index}">Edit</a></button>
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                        <button class="btn btn-primary"><a
                                th:href="@{/deleteTrainee/{Tid}/{courseName}(Tid=${trainee[3]}, courseName=${trainee[4]})}"
                                th:id="${iterStat.index}">Delete</a></button>
                    </div>
                </td>
                <td>
                    <div class="mb-3">
                        <button class="btn btn-primary"><a th:href="@{/addQualityGate/{Tid}(Tid=${trainee[3]})}"
                                                           th:id="${iterStat.index}">Add</a></button>
                    </div>
                </td>
                <td th:each="qualitygate : ${qualitygates}" th:if="${qualitygate.getTraineeID()} == ${trainee[3]}"
                    th:utext="${qualitygate.getQualityGateDate()} + ' --- ' + ${qualitygate.getPass()} + '&lt;br&gt;' +  '&lt;br&gt;' + 'Feedback 1 : ' + ${qualitygate.getFeedbackTrainer1()} + '&lt;br&gt;' + 'Feedback 2 : ' + ${qualitygate.getFeedbackTrainer2()}">
                    help
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </br>
    </br>
</div>
<footer>
    <nav th:replace="fragments/footer.html :: navbar"></nav>
</footer>
</body>
</html>